.CartaCharacter {
  position: relative;
  border: 2px solid black;
  width: 15rem;
  height: 24rem;
  background-color: white;
}
.nameButton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagenChar {
  width: 100%;
}
.btnClose {
  position: absolute;
  top: 0;
  right: 0;
}
.verMas {
  background-color: red;
  text-decoration: none;
}
@media (max-width: 850px) {
  .CartaCharacter {
    width: 40%;
    height: auto;
  }
}
