.containerForm {
  height: 70%;
  backdrop-filter: blur(8px);
  border-radius: 15px;
  display: flex;
  gap: 1em;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.669);
  background-color: rgba(255, 255, 255, 0.076);
}

@media (max-width: 600px) {
  .containerForm {
    height: 100%;
    border: none;
    width: 100%;
    border-radius: 0; /* Eliminar el borde redondeado en dispositivos más pequeños */
  }
}

@media (max-height: 830px) {
  .containerForm {
    height: 50%;
  }
}

@media (max-width: 400px) {
  .containerForm {
    height: 100%;
  }
}

.landing {
  height: 93vh;
  background-image: url("../../assets//fondoInicio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
