.containerApp {
  width: 100%;
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartelGuardar {
  position: absolute;
  background-color: rgba(78, 78, 78, 0.588);
  width: 100%;
  height: 100%;
}
