.containerApp {
  position: absolute;
  width: 100%;
  background-image: url("./assets/fondoApp.jpg");
  background-size: cover;
  background-position: center;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
