.mensajeAlerta {
  position: absolute;
  background-color: red;
}
.p {
  position: absolute;
  top: 50%;
  left: 50%;
}
.formId {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 850px) {
  .formId {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
