.about {
  height: 85vh;
  margin-top: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 30%;
}
.section {
  width: 100%;
  color: white;
  display: flex;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  justify-content: center;
  gap: 20px;
}
.appSection {
  width: 1800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.creaSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fotoSection {
  width: 100%;
  gap: 10px;
  display: flex;
}
.informacion {
  border-radius: 20px;
  background-color: rgb(81, 52, 119);
  width: 700px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.imagen {
  width: 150px;
  border-radius: 20px;
}
.titles {
  color: rgb(127, 200, 224);
}
@media (max-width: 850px) {
  .fotoSection {
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .titles {
    font-size: 15px;
    font-weight: bold;
  }
  .appSection {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .section {
    flex-direction: column;
    gap: 0;
    font-size: 11px;
  }
  .imagen {
    width: 100px;
  }
  .informacion {
    width: 90%;
    height: auto;
    gap: 10px;
  }
}
